@CHARSET "ISO-8859-1";
.logoutfloat{
	/*background-color: yellow;*/
	position: fixed;
	top: 0px;
	z-index: 1000;
	right: 0px;
	color: #fff;
	background-color: #569e3d;
	background-image: -moz-linear-gradient(#79d858, #569e3d);
	background-image: -webkit-linear-gradient(#79d858, #569e3d);
	background-image: linear-gradient(#79d858, #569e3d);
	background-repeat: repeat-x;
	border-color: #4a993e;
	margin: 5px;
	padding: 5px;
}

/*------------primefaces----------------*/
.title {
	height: 30px;
	padding: 8px 0 0 0; /*20px;*/
}
.ui-widget-header {
	border: 1px solid #a8a8a8;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}

/*---------style.css-----------*/
.box_title {   
	margin-bottom:12px;
	margin-left:0px;
	margin-right:0px;
	margin-top:2px;
	padding-bottom:2px;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	border-bottom:1px solid #c8c8c8;/*linea al pie*/
	line-height:19px;
	height:60px;
	overflow:hidden;	
}
.box_content{
	text-align: justify;
	padding: 0px 0px 20px 0px;
}
.otrocontainer_24 {
	margin-left:auto;
	margin-right:auto;
	width:960px
}
header {
	padding: 0 0 18px 0;	
}
.indent-bot-1 {
	margin: 0 0 15px 0;
}
.indent-bot-1 .left{
	width:210px;
	clear:left;
	float:left;
	text-align:center;
	margin-left: 5px;
}
.indent-bot-1 .leftcontent{
	width:660px;
	float:left;
	/*padding:0px 10px 0px 10px;*/
	margin-left: 5px;
	min-height: 500px;
	background-color: white;
	border-radius: 7px;
	box-shadow: 1px 0 5px #bbb;
}
.indent-bot-1 .center{
	width:450px;
	float:left;
	padding:0px 5px 0px 5px;
	min-height: 500px;
}
.indent-bot-1 .right{
	/*width:280px;*/
	float:right;
	text-align:center;
	margin-right: 5px;
}
.otrobox-1 {
	background:#dcdcdc;
	border-radius:7px;
	box-shadow:1px 0 5px #bbb;
	text-align:center;
	padding:0 0 6px 0;
	margin:0 0 16px 0;
	position:relative;
	z-index:2;
}
.otrobox-1 .inner {
	border-radius:7px 7px 0 0;
	background:url(../resources/images/box-1-bg.gif) no-repeat center 0 #fff;
	padding:22px 25px 11px 25px;
	position:relative;
}
.otrobox-1 .inner2 {
	border-radius:7px 7px 0 0;
	/*background:url(../resources/images/box-1-bg.gif) no-repeat center 0 #fff;*/
	/*padding:0px 5px 11px;*/
	background-color: white;
	position:relative;
}
.otrobox-1 h6 {padding-bottom:10px;}
.guide-section-separator {
	margin: 8px 15px 8px 4px;
	border-bottom: 1px solid #e2e2e2;
}

/*----- contenido de las paginas secundarias -----*/
.content-page {
	/*padding-top: 10px;*/
}
.content-page h1 {
	font-size: 1.6em;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
}
.content-page .ui-widget-header {
	border: none;
}
.content-page .ui-widget-content {
	border: none;
}
.content-page .ui-corner-top {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}
.content-page .ui-corner-bottom {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.ui-paginator-bottom span {
	vertical-align: middle;
}

/*------Menu------*/
#cssmenu > ul li {
	width: 100px;
}
#cssmenu > ul li li {
	width: auto;
}
#cssmenu > ul li a {
  padding: 10px 10px;/*ESPACIO ENTRE MENUES*/
}